body {
	background: url(../img/background.png) no-repeat center center fixed;
	.background-size(cover);
}

h3 {
	font-weight: 200;
}

h4 {
	font-weight: 200;
}

p {
	text-align: justify;
}

.italic {
	font-style: italic;
}

.shadow-1 {
	.boxshadow-helper(1);
}

.shadow-2 {
	.boxshadow-helper(2);
}

.main-page {
	background-color: white;

	position: relative;
	top: 200px;
	padding-top: 150px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;

	@media (min-width: @screen-sm) {
		padding-left: 20px;
		padding-right: 20px;
	}

	@media (min-width: @screen-md) {
		padding-left: 50px;
		padding-right: 50px;
	}
}

.portrait {
	z-index: 5;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

	width: 200px;
	margin-top: 50px;
}