h3 {
	font-weight: 200;
}

h4 {
	font-weight: 200;
}

p {
	text-align: justify;
}

.italic {
	font-style: italic;
}

.shadow-1 {
	.boxshadow-helper(1);
}

.shadow-2 {
	.boxshadow-helper(2);
}

.main-page {
	.make-xs-column(10);
	.col-centered;

	margin-top: 13em;
	padding-top: 4em;
}

.portrait {
	.make-xs-column(6);
	.make-lg-column(2);

	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

	margin-top: 3em;
}
